<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>login</title>
  </head>
  <body class="black text-center vh100">
    <h1 class="title">Foodmap</h1>
    <hr>
    <div class="bg-map img-rounded">
    </div>
    <!-- Filtros -->
    <form class="container-flex-column">
      <h2 class="subtitle">Comida cerca de ti</h2>
      <div class="input-group">
        <input id="filterRestaurants" type="text" class="form-control" placeholder="Filtrar restaurantes" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
      </div>
      <br>
      <select class="filterFood" id="typeOfFood">
        <option value="" disabled selected hidden>Filtrar tipo de comida</option>
        <option value="mar">Pescados y Mariscos</option>
        <option value="vegetariana">Vegetariana</option>
        <option value="china">China</option>
        <option value="mexicana">Mexicana</option>
        <option value="criolla">Criolla</option>
      </select>
    </form>
    <!-- Imagenes -->
    <div class="restaurants container-flex-column col-xs-12">
      <div class="col-xs-12 img-food img-rounded china-01" data-toggle="modal" data-target="#myModal" data-restaurant="Sabor Oriental" data-food="china" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded china-02" data-restaurant="El chinito" data-food="china" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded china-03" data-restaurant="Choy Tac" data-food="china" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded china-04" data-restaurant="Madam Tusan" data-food="china" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded china-05" data-restaurant="Mr.Chino" data-food="china" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded crio-01" data-restaurant="Panchita" data-food="criolla" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded crio-02" data-restaurant="Toque Criollo" data-food="criolla" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded crio-03" data-restaurant="Aromas Peruanos" data-food="criolla" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded crio-04" data-restaurant="El Rincon" data-food="criolla" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded crio-05" data-restaurant="La Muralla" data-food="criolla" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">  
      </div>
      <div class="col-xs-12 img-food img-rounded mar-01" data-restaurant="Memo" data-food="mar" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mar-02" data-restaurant="Omero" data-food="mar" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mar-03" data-restaurant="Delfino Mar" data-food="mar" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mar-04" data-restaurant="Alfresco" data-food="mar" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mar-05" data-restaurant="Punto Azul" data-food="mar" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mex-01" data-restaurant="Taqueria No Te Rajes" data-food="mexicana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mex-02" data-restaurant="Taco Naco" data-food="mexicana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mex-03" data-restaurant="Mr.Tack" data-food="mexicana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mex-04" data-restaurant="El Meros Tacos" data-food="mexicana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded mex-05" data-restaurant="Chinga tu Taco" data-food="mexicana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded vege-01" data-restaurant="Sabor y Vida" data-food="vegetariana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded vege-02" data-restaurant="Abdiel Vegan" data-food="vegetariana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded vege-03" data-restaurant="La Cabaña Verde" data-food="vegetariana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded vege-04" data-restaurant="Nanka" data-food="vegetariana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
      <div class="col-xs-12 img-food img-rounded vege-05" data-restaurant="Va Bien" data-food="vegetariana" data-price="$$$" data-address="Av.imaginaria calle Pony cuadra 04" data-star="3" data-message="Ambiente tranquilo y una comida deliciosa">
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="restaurant" id="myModalLabel">title</h2>
          </div>
          <div class="modal-body">
            <figure>
                <img class="img-modal col-xs-12" src="../assets/images/img-modal.jpg" alt="map-addres">
            </figure>
            <div class="row">
              <div class="col-xs-12">
                <h3 class="message"></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <h4>Dirección</h4>
                <address>
                  <p class="address"></p>
                </address>
              </div>
              <div class="col-xs-6">
                <h4>Rango de precios</h4>
                <p class="price"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h4>Stars</h4>
                <p class="stars"></p>
              </div>
            </div>
          </div>  
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-modal">Pide ahora</button>
          </div>
        </div>    
      </div>
    </div>
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/filter.js"></script>
  </body>
</html>